#map { 
    align-items: center;
    height: 500px;
 }
 body {
    background: linear-gradient(to bottom, #d6eaf8, #82c3ee); 
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    text-align: left;  /* centra el texto dentro de divs */
    font-family: 'Times New Roman', serif, sans-serif;
}
h1 {
    color: #000000;
    margin-bottom: 20px;
}
img {
    max-width: 250px;
    border-radius: 10px; /* bordes redondeados opcional */
    margin: 20px 0;
}
h2 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}